mixin logo(className)
  .logo__img
      svg(
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        class="logo__svg")
        title logo
        path(
          stroke-linejoin="miter"
          stroke-linecap="butt"
          stroke-miterlimit="4"
          stroke-width="0.5714"
          stroke="#3DB370"
          fill="#fff"
          d="M24.882 15.346c-0.305 0.070-0.52 0.342-0.52 0.654M24.882 15.346l0.066 0.285M24.882 15.346c-0 0-0 0-0 0l0.066 0.285M24.882 15.346c3.106-0.722 5.273-3.451 5.273-6.639 0-3.762-3.061-6.823-6.822-6.823-3.21 0-6.018 2.279-6.676 5.416-0.065 0.311-0.339 0.534-0.657 0.534s-0.592-0.223-0.657-0.534c-0.658-3.137-3.466-5.416-6.676-5.416-3.762 0-6.822 3.061-6.822 6.823 0 3.188 2.168 5.916 5.273 6.639l17.244 0.654M24.362 16c0 0.312 0.215 0.583 0.519 0.654l0.066-0.285M24.362 16l0.586 0.369M24.948 15.631c-0.172 0.040-0.293 0.193-0.293 0.369s0.122 0.329 0.293 0.369M24.948 15.631v0.738M24.948 16.369c3.238 0.753 5.5 3.6 5.5 6.924 0 3.923-3.192 7.115-7.115 7.115-3.348 0-6.276-2.376-6.962-5.648M24.948 16.369l-0.066 0.285c3.106 0.722 5.273 3.451 5.273 6.639 0 3.762-3.061 6.823-6.822 6.823-3.21 0-6.018-2.279-6.676-5.416M16.371 24.759l0.286-0.060M16.371 24.759l0.286-0.060c0 0 0 0 0 0M16.371 24.759c-0.037-0.175-0.192-0.301-0.371-0.301s-0.334 0.126-0.371 0.301M16.657 24.7l-1.315-0 0.286 0.060M15.629 24.759c-0.686 3.273-3.614 5.648-6.962 5.648-3.923 0-7.115-3.192-7.115-7.115 0-3.324 2.262-6.171 5.5-6.924M15.629 24.759l-0.286-0.060c-0.658 3.137-3.466 5.416-6.676 5.416-3.762 0-6.822-3.061-6.822-6.823 0-3.188 2.168-5.917 5.274-6.639 0 0 0 0 0 0l-0.066-0.285M7.052 16.369c0.172-0.040 0.293-0.193 0.293-0.369s-0.122-0.329-0.293-0.369v0.738zM31.499 8.707c0-4.503-3.663-8.166-8.166-8.166-3.157 0-5.986 1.839-7.333 4.576-1.347-2.738-4.177-4.576-7.333-4.576-4.503 0-8.166 3.663-8.166 8.166 0 3.154 1.776 5.936 4.493 7.293-2.717 1.357-4.493 4.138-4.493 7.293 0 4.503 3.663 8.166 8.166 8.166 3.157 0 5.986-1.839 7.333-4.576 1.347 2.738 4.176 4.576 7.333 4.576 4.503 0 8.166-3.663 8.166-8.166 0-3.154-1.776-5.936-4.493-7.293 2.718-1.357 4.493-4.138 4.493-7.293z")
  .logo__name
    h1(class="logo__title " + className) Freehand